<!-- <% for(var i = 0; i < users.length; i++) { %> -->

<!-- <td><%= i + 1 %></td>
    <td><%= users[i].name %></td>
    <td><%= users[i].email %></td>
    <td><%= users[i].gender %></td>
    <td><%= users[i].status %></td> -->

<!-- /update-user?id=<%= users[i]._id%> -->

<!-- data-id=<%= users[i]._id%>  -->
<!-- <%- include('include/_show') %> -->

<% users.map(item, key => (
<tr>
  <td><%= item.id %></td>
  <td><%= item.name %></td>
  <td><%= item.email %></td>
  <td><%= item.gender %></td>
  <td><%= item.status %></td>
</tr>
))%>
